Header
html { 
    scroll-behavior: smooth;
}

body{
    font-family: 'Kanit', sans-serif;
    /* background: linear-gradient(90deg, rgba(255, 150, 50, 0.8) 10%,  rgba(200, 100, 50, 0.6) 50%); */
    background: #0f0c29;
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
color: white;
}

::selection {
    color: #ffd700;
    }


#header{
    height: 100px;
    margin-bottom: 0;
}
#header {
    z-index: 1000; 
  }
  

.head_img{
    height: 3.25rem;
    margin-right: 0;
}


.navbar-toggler {
    border: none;
    width: 50px;
    background-color: transparent;
    color: white;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-nav {
    text-align: center;
    margin: 10px 0;
}

.fa-bars{
    margin-left: 0;
}

.navbar{
    height: auto;
    width: 100%;
    /* padding: 0; */
    padding: 10px;
    position: fixed;
}

.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-nav { 
    margin-left: auto; 
    
} 
.nav-item {
    margin: 10px 0;
}

.nav-link{
    font-size: larger;
    color: white;
}

.navbar-nav .nav-link:hover{
    color: #ffd700;
}

.title{
    color: white;
}

/* Home */

#home{
    margin:180px auto;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 100px;
    height: 50px;
}

.hcl_mdu{
    border-radius: 60%;
    width: 20rem;
}

.fa-circle-check{
    size: 500px;
}


/* Shops */
#shop h1{
    margin-left: 5rem;
}

#food h2,span{
    margin-left: 3rem;
}

/* Food */

.food{
    border: none;
    margin-bottom: 50px;
}

/* Cart */
#cartList{
    background-color: lightgray;
    padding: 15px;

}

/* Support */

.form-control{
    width: 50%;
    margin-left: 25%;
}

#support{
    color: #000;
}

.cart_head::selection{
    background-color: grey;
    color: white;
}

#support ::selection{
    background-color: grey;
    color: white;
}
#support .container-fluid{
    padding-left: 0;
    padding-right: 0;
}

hr
{
    width: 5%;
    border-style: dotted;
    border-bottom: 0;
    border-width: 10px;
    color:white;
    margin: 6.25rem auto;
}

/* Success Icon */
.fa-circle-check{
    color: greenyellow;
}

